<section class="main">
    <h1>WORK</h1>
    <div class="card-list"> 

        <app-card [name]="myPortfolio[0].pokeProject.name" 
                [description]="myPortfolio[0].pokeProject.description"
                [url]="myPortfolio[0].pokeProject.url"
                [image]="myPortfolio[0].pokeProject.image"
                [title]="myPortfolio[0].buttonTitle.pokeBattle"
        ></app-card>

        <app-card [name]="myPortfolio[0].github.name" 
                [description]="myPortfolio[0].github.description"
                [url]="myPortfolio[0].github.url"
                [image]="myPortfolio[0].github.image"
                [title]="myPortfolio[0].buttonTitle.github"
        ></app-card>

    </div> 
</section>

