<!--
  I took this hamburger menu from a codepen project and edited it
-->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" 
           routerLink="/menu" 
           routerLinkActive="active" 
    />
    
    <!--
    Some spans to act as a hamburger.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    
    <ul id="menu">
      
    </ul>
  </div>
</nav>