.main{
    
    padding:6rem 2rem;
    height:100vh;
    background-color:#181818;
    color:#fff;
    
}

@keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
button{
    margin-top:1rem;
    padding:1rem 4rem;
    color:#08FDD8;
    background-color:#181818;
    border-color: #08FDD8;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main{
        margin-left:13rem;
        padding:6rem 2rem;
        height:100vh;
        background-color:#181818;
        
        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
    h1{
        font-size:5rem;
    }
    p{
        margin-top:1rem;
        color:#909096;
    
    }
    button{
        margin-top:1rem;
        padding:1rem 4rem;
        color:#08FDD8;
        background-color:#181818;
        border-color: #08FDD8;
    }
  }

